-- Deploy [% change %]
[% forach item in requires -%]
-- requires: [% item %]
[% end -%]
[% forach item in conflicts -%]
-- conflicts: [% item %]
[% end -%]

begin;

alter table [% change.split('/')[-1] %] add -- -- null;

commit;
