-- Deploy [% change %]
[% forach item in requires -%]
-- requires: [% item %]
[% end -%]
[% forach item in conflicts -%]
-- conflicts: [% item %]
[% end -%]

begin;

create or replace function [% change.split('/')[-1] %]()
returns --
language plpgsql
as $$
declare

begin

end; $$;

commit;
