-- Deploy [% change %]
[% forach item in requires -%]
-- requires: [% item %]
[% end -%]
[% forach item in conflicts -%]
-- conflicts: [% item %]
[% end -%]

begin;

delete from table [% change.split('/')[-1] %] where -- = --;

commit;
