-- Deploy [% change %]
[% forach item in requires -%]
-- requires: [% item %]
[% end -%]
[% forach item in conflicts -%]
-- conflicts: [% item %]
[% end -%]

begin;

update [% change.split('/')[-1] %]
set    -- = --
where  -- = --;

commit;
